body{
    margin : 0;
    padding : 0;
    line-height: 1.6;
    background-color:lightblue;
}

header {
    background-color: antiquewhite;
    color : black;
    padding : 10px 0;
    text-align: center;
}

nav ul{
    list-style : none;
    background-color: #444;
    overflow:  hidden;
}
nav ul li{
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color : #fff;
    padding: 15px 20px;
    display: inline-block;
}

nav ul li a:hover{
    background-color: #333;
}

main {
    padding:20px;
}
section {
    margin-bottom:  20px;
    background-color : #fff;
    padding : 20px;
    border-radius:  5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding : 10px 0;
    width : 100%;
}